<div class="login nav_bar">
  <% if spree_current_user %>
    <button id="link-to-login" class="account h_sub_menu h_header_menu">
      <span id="icon-account" class="grigo-icons grigo-account"><span class='badge_account badges'>1</span></span>
       <span  class="nav_bar_text"><%= Spree.t(:my_account) %></span>
    </button>
    <div class="account_menu">
      <%= render partial: 'spree/shared/my_account_intern' %>
    </div>
  <% else %>
      <button id="link-to-login" class="account h_sub_menu h_header_menu">
        <span id="icon-account" class="grigo-icons grigo-account"></span>
        <span class="nav_bar_text"><%= Spree.t(:login) %></span>
      </button>
      <div class="account_menu">
        <%= render partial: 'spree/shared/my_account_intern' %>
      </div>
  <% end %>
</div>
