<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if @address.bill %>
        <h3 class="panel-title">Nuovo indirizzo Fatturazione</h3>
      <% else %>
        <h3 class="panel-title">Nuovo indirizzo di Spedizione</h3>
      <% end %>
    </div>
    <div class="panel-body">
      <%= render 'spree/shared/error_messages', target: @address %>
      <%= form_for @address, html: { id: 'checkout_form_address' }, url: '/address/create', method: 'post' do |f| %>
        <fieldset>
          <div class="inner">
            <%= render 'spree/addresses/form',
              form: f,
              address: @address
            %>
          </div>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
