.button-options
  display: block
  +transition
  color: $back-link-button
  border: 1px solid $back-full-text
  +border-radius($radius)
  padding: 0
  overflow: hidden
  &:hover
    border: 1px solid $back-link-button
    text-decoration: none
  &:active
    +box-shadow(0 0 5px tint($back-link-button, 20%))
    border: 1px solid $back-link-button
  img
    width: 100%
    height: auto
    padding: 2px
    +transition
    &:hover
      transform: scale(1.2)
  p, ul, h5
    background-color: $back-full-text
    margin: 0
    padding: 5px
    text-align: center
    z-index: 1000

.button-options.unactive
  cursor: not-allowed
  &:hover
    border: 1px solid $back-full-text


.informazioni
  background-color: $back-full-text
  +border-radius($radius)
.btn
  +border-radius($radius)
  +transition
.btn-primary
  background-color: $back-link-button
  color: $back-full-text
  &:hover, &:focus
    background: tint($back-link-button, 10%)
    color: $back-full-text

.btn-cart
  width: 100%
.pull-right-btn
  @media screen and (min-width: 992px)
    float: right !important
#spree-header .nav
  .btn-primary
    color: $back-full-text
    &:hover, &:focus
      background: tint($back-link-button, 10%)
