#form_prodotto
  .row
    margin: 1rem 0
.btn-options
  width: 180px
  margin: 0 auto
  position: relative
  ul
    padding: 5px

.row_quantita
  margin-top: 100% !important

.informazioni
  display: block

.alert-info
  +border-radius(4px)
  margin-bottom: 0.5rem
  padding: 1.5rem
