.navbar
  overflow: hidden
  margin-bottom: 0
  padding: 20px 0 10px 0
  .nav_bar, .logo
    float: left
    text-align: center
    width: 20%
    text-decoration: none
    a, button
      width: 100%
      padding-left: 25px
      padding-right: 25px
      display: block
      &:hover
        color: $back-link-button
    button
      width: 100%
      border: none
      background: inherit
      color: $link-back-full

#spree-header .nav
  .btn-primary
    color: $back-full-text
    &:hover, &:focus
      background: tint($back-link-button, 10%)
.hover_menu
  display: none

#spree-header
  img
    max-width: 100%
    min-height: 100%
    max-height: none

#spree-header
  margin-bottom: 1rem
  +box-shadow(0 1px 5px #999)
  img
    display: block
    margin: auto

.h_sub_menu a
  display: block

.hover_menu a
  margin: 5px

html,
body,
.st-container,
.st-pusher,
.st-content
  height: 100%

.st-content
  overflow-y: scroll

.st-content,
.st-content-inner
  position: relative

.st-container
  position: relative
  overflow: hidden

.st-pusher
  position: relative
  left: 0
  z-index: 99
  height: 100%
  perspective: 1000px
  -webkit-transition: -webkit-transform 0.5s
  transition: transform 0.5s
  &::after
    position: absolute
    top: 0
    right: 0
    width: 0
    height: 0
    background: rgba(0, 0, 0, 0.2)
    content: ""
    opacity: 0
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

.st-menu-open .st-pusher::after
  width: 100%
  height: 100%
  opacity: 1
  -webkit-transition: opacity 0.5s
  transition: opacity 0.5s

.st-menu
  position: absolute
  top: 95px
  left: 0
  z-index: 100
  visibility: hidden
  height: 100%
  width: 25%
  background: tint($back-full-text, 80%)
  -webkit-transition: all 0.5s
  transition: all 0.5s
  overflow: auto
  border-right: 1px solid $back-link-button
  +box-shadow(0 0 10px $back-link-button)
  &::after
    position: absolute
    top: 0
    right: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.2)
    content: ""
    opacity: 1
    -webkit-transition: opacity 0.5s
    transition: opacity 0.5s

.st-menu-open .st-menu::after
  width: 0
  height: 0
  opacity: 0
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s

/* content style

.st-menu h3
  color: $back-full-text
  background-color: $link-back-full
  padding-left: 10px
  text-transform: uppercase

.st-menu a
  display: block
  padding: .5em .5em .5em 1.2em
  outline: none
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2)
  color: $link-back-full
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1)
  -webkit-transition: background 0.3s, box-shadow 0.3s
  transition: background 0.3s, box-shadow 0.3s

.st-effect-1.st-menu
  visibility: visible
  -webkit-transform: translate3d(-100%, 0, 0)
  transform: translate3d(-100%, 0, 0)

.st-effect-1.st-menu-open .st-effect-1.st-menu
  visibility: visible
  -webkit-transform: translate3d(0, 0, 0)
  transform: translate3d(0, 0, 0)

.st-effect-1.st-menu::after
  display: none


/* Fallback example for browsers that don't support 3D transforms (and no JS fallback)
.no-csstransforms3d .st-pusher,
.no-js .st-pusher
  padding-left: 300px

#spree-header
  background-color: inherit
  border-bottom: 1px solid $link-back-full
  #header
    background: inherit
  .navbar
    a:focus
      background: none
      border: none
    .nav_bar
      & > a, & > button
        +transition
        +border-radius($radius)
        line-height: inherit
        &::after
          content: ''
          display: block
          width: 0
          height: 2px
          background-color: $link-back-full
          +transition-property(width)
          +transition-duration(0.2s)
          &:focus
            background: none
      &:hover
        & > a, & > button
          color: $back-link-button
        & > a::after, & > button::after
          width: 100%

.cart_header
  background: $link-back-full
  color: $back-full-text

.hover_menu
  display: none
  z-index: 1000
  width: 60%
  background: $back-full-text
  border: 1px solid $back-link-button
  left: 20%
  a
    font-size: 0.8rem


.h_header_menu:hover + .hover_menu
  display: block

.h_sub_menu
  position: relative
  .hover_menu
    position: absolute
    &:hover
      display: block

.h_sub_menu:hover > a
  display: block

#spree-header .nav a:hover, #spree-header .nav a:focus
  background: none

nav a
#spree-header .nav a
  color: $long-text
  &.btn-default
    color: $back-full-text
