//grids
$grid-columns: 12
$grid-gutter-width: 10px
$grid-float-breakpoint: 768px
$screen-xs: 480px
$screen-sm: 768px
$screen-md: 992px
$screen-lg: 1200px
$radius: 2px
//Typography
$base-font-size: 16px
$base-line-height: 26px
$round-to-nearest-half-line: true
$rhythm-unit: "rem"
$text_font_family: 'Lato', sans-serif
$h-font-family: 'Montserrat', sans-serif
//Headline size variabiles
$h-1-gtdp: 50px
$h-2-gtdp: 30px
$h-3-gtdp: 24px
$h-4-gtdp: 20px
$h-5-gtdp: 16px
$h-6-gtdp: 13px
//fluid-type
$min_width: 320px
$max_width: 1200px
$min_font: 16px
$max_font: 20px
//transition variabiles
$default-transition-property : all
$default-transition-duration : 0.3s
$default-transition-function : ease-in-out
$default-transition-delay    : false
//Colors
$back-link-button: #08415C
$back-full-text: #fff
$allert: #912306
$positive: #062A3B
$link-back-full: #8EA8B4
$long-text: #29353B
$warning: rgba(254, 235, 147, 1)
$success: rgba(0, 235, 147, 1)
//gradient background
$default-gradient: linear-gradient(40deg, #f4f4f4, tint(#f4f4f4, 25%))
$primary-gradient: linear-gradient(40deg, $back-link-button, tint($back-link-button, 25%))
$secondary-gradient: linear-gradient(40deg, $link-back-full, tint($link-back-full, 25%))
$success-gradient: linear-gradient(40deg, $success, tint($success, 25%))
$allert-gradient: linear-gradient(40deg, $allert, tint($allert, 25%))
$warning-gradient: linear-gradient(40deg, $warning, tint($warning, 25%))
$long-text-gradient: linear-gradient(40deg, $long-text, tint($long-text, 25%))

$brand-primary: #08415c
$testo: #29353B
$background: #ffffff
