<% account_link = [{text:"Modifica dati personali", url:"/account/user", icon:"user", current: :utente},
                   {text:"Modifica indirizzi", url:"/account/addresses", icon:"road", current: :indirizzi},
                   {text:"Metodi di pagamento", url:"#", icon:"credit-card", current: :pagamento},
                   {text:"Ordini in corso", url:"#", icon:"file", current: :ordini},
                   {text:"Ordini completi", url:"/account/orders", icon:"success", current: :ordini_completi}]%>


<ul class="nav nav-pills nav-stacked">
  <% account_link.each do |voce| %>
    <li<%== ' class="active"' if current == voce[:current] %>>
      <%= link_to_with_icon voce[:icon], voce[:text], voce[:url] %>
    </li>
  <% end %>
</ul>
