<div class="contacts_wrap hidden-xs">
  <div class="contacts_bar container clearfix">
    <div class="tel_number col-sm-4">
      <p>
        <span class="glyphicon glyphicon-phone"></span>+39 045 783 4054</p>
    </div>
    <div class="languages col-sm-4">
      <%= link_to "it" %>
      <%= link_to "en" %>
    </div>
    <div class="social col-sm-4">
      <div class="social-icons">
        <span class="facebook"></span>
        <span class="instagram"></span>
        <span class="twitter"></span>
      </div>
    </div>
  </div>
</div>
