<div id="spree-header">
  <header id="header" data-hook>
    <div class="container-fluid">
      <nav class="navbar">
        <%= render partial: 'spree/shared/nav_bar_left' %>
        <div class="logo">
          <a href="/"> <%= image_tag("logo.svg")%> </a>
        </div>
        <%= render partial: 'spree/shared/nav_bar' %>
      </nav>
    </div>
  </header>
</div>
