<nav class="navbar col-md-4 col-sm-5" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-left" data-hook>
    <li class="col-sm-6">
      <a href="#">Prodotti</a>
    </li>
    <li class="col-sm-6">
      <a href="#">Contattaci</a>
    </li>
  </ul>
</nav>
