<div class="dropdown nav_bar column" id="st-trigger-effects">
  <button data-effect="st-effect-1">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
    <div>Prodotti</div>
  </button>
</div>
<div class="nav_bar">
  <a href="#"><span class="glyphicon glyphicon-link"></span><div>Contattaci</div></a>
</div>
