<div class="menu-container">
  <nav id="menu-1" class="st-menu st-effect-1">
    <ul>
      <h3>Bandiere</h3>
      <li>
        <a href="#">Bandiere Personalizzate</a>
      </li>
      <li>
        <a href="#">Bandiere per Istituzionali</a>
      </li>
      <li>
        <a href="#">Beachflags</a>
      </li>
    </ul>

    <ul>
      <h3>Teli Stampati</h3>
      <li>
        <a href="#">Cornici</a>
      </li>
      <li>
        <a href="#">Poster</a>
      </li>
      <li>
        <a href="#">Striscioni</a>
      </li>
    </ul>
    <ul>
      <h3>Ombrelli</h3>
      <li>
        <a href="#">Ombrelli Personalizzati</a>
      </li>
      <li>
        <a href="#">Ombrelloni</a>
      </li>
      <li>
        <a href="#">Ombrelloni a Braccio</a>
      </li>
    </ul>
    <div class="contacts hidden-media-sm">
      <a href="#">
        <span class="glyphicon glyphicon-link"></span>
        <div>Contattaci</div>
      </a>
    </div>
    <div class="social hidden-media-sm">
      <span class="labelling">Social network</span>
      <div class="social-icons">
        <span class="facebook"></span>
        <span class="instagram"></span>
        <span class="twitter"></span>
      </div>
    </div>
  </nav>
</div>
