<div class="row">
  <div class="col-md-3">
    <%= label_tag(:nome, "Assegna un nome alla lavorazione")%>
  </div>
  <div class="col-md-3">
      <%= text_field_tag 'name', nil, size: 25, maxlength: 25, class: "form-control" %>
  </div>
  <div class="info-panel col-md-9 col-md-offset-3" id="info-panel-nome">
    <p class="bg-success"></p>
    <p class="bg-warning">Attenzione il nome deve avere almeno 3 caratteri</p>
    <p class="bg-danger">Il nome della lavorazione non pu&ograve; essere vuoto</p>
  </div>
</div>
