<% numero = 4 if numero.nil? %>
<h3 class="title_section row">
  <span class="col-sm-3 col-xs-12 title_number">0<%= numero %></span>
  <span class="col-sm-9 title_header">Riepilogo</span>
</h3>
<div class="col-md-9 col-md-offset-3">
  <div class="row">
    <div class="riepilogo_interno">
      <h4>
        <strong>Nome Lavoro</strong>
      </h4>
      <p id="lbl_nome_lavoro">Lavorazione</p>
    </div>
    <div class="riepilogo_interno">
      <h4>
        <strong>Soggetti personalizzati</strong>
      </h4>
      <p id="lbl_soggetti">1</p>
    </div>
    <div class="riepilogo_interno">
      <h4>
        <strong>Quantit&agrave;</strong>
      </h4>
      <p id="lbl_quantita">1</p>
    </div>
    <div class="riepilogo_interno">
      <h4>
        <strong>Giorno di Consegna</strong>
      </h4>
      <p id="lbl_giorno_di_consegna"></p>
    </div>
    <!-- <div class="riepilogo_interno">
      <h4>
        <strong>Prezzo complessivo</strong>
      </h4>
      <p id="lbl_prezzo"></p>
    </div> -->
  </div>
</div>

<%= javascript_include_tag "spree/frontend/products/riepilogo.js" %>
