<div id="riepilogo">
  <lo>
    <li>Tessuto: nautico 110g </li>
    <li>Misure: cm 100x150 </li>
    <li>finiture: bla </li>
  </lo>
  </br>
  <lo>
    <li>prezzo: €1,00 cad. </li>
    <li>iva 22%: €0,22 </li>
    <li>costo ivato: €1,22 cad. </li>
  </lo>
</div>
